.navbar{
    display: flex;
    width: 100%;
    background-color: #2600bd ;
    justify-content: space-between;
    color: white;
    .navigation{
        padding: 10px;
        display: flex;
        gap: 10px;
    }
    .username{
        padding: 10px ;
        display: flex;
        gap: 10px;
    }
}
button{
    padding: 0 10px;
}